body {
    background-color:#f9ebf2;
    background-image: url('background.png');
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}

form{
    margin: auto;
    margin-top: 40vh;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}
