body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}

div#content {
    margin: auto;
    height: 100vh;
    width: 100vw;
    background: url('background.png');
}

div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url('loading-gif-png-5.gif') no-repeat;
    cursor: wait;

input[type=text] {
    margin-top = 100vh;
    text-shadow: 2px 2px 4px #000000;
    color: red;
}


