body {
    background-color:#f9ebf2;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    background-image: url('Screenshot 2023-07-05 at 12.12.29 PM.png');
}

form{
    margin: auto;
    margin-top: 40vh;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}
